<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="test.BookDao">


<!--    <insert id="insertUser" parameterType="int">-->
<!--        insert into t_user(id,name,age,sex,depId)-->
<!--        value(#{id},#{name},#{age},#{sex},#{depId})-->
<!--    </insert>-->
    <select id="getNextId" resultType="int">
        select auto_increment
        from information_schema.tables
        where table_name='notebook'
--         where table_schema='db name' and table_name='table name';
    </select>
<!--    <select id="getUserById" parameterType="int" resultType="test6.User">-->
<!--        select *-->
<!--        from t_user-->
<!--        where id=#{id}-->
<!--    </select>-->

</mapper>